{% extends 'AppProject/padre.html' %}

{% load static %}

{% block title %}
About us - Mi Sitio
{% endblock %}

{% block ContenidoQueCambia %}

<div class="knotfest-section">
    <img src="{% static 'appproject/assets/img/Slipknot_grupo.jpg' %}" alt="Slipknot Grupo" class="knotfest-image">
    <div class="knotfest-text">
        <h2>Grupos que están presentes en este KNOTFEST</h2>
        <p>
            El grupo principal es Slipknot<br>
            ¿Qué o quiénes son?<br>
            Slipknot es una banda estadounidense de metal alternativo formada en 1995 en 
            Des Moines, Iowa, Estados Unidos.<br>
            Los miembros actuales de la banda son Shaw "Clown" Crahan, Mick Thomson, Corey Taylor,
            Sid Wilson, Jim Root, Alex Venturella, Michael "Tortilla Man" Pfaff y Eloy Casagrande.
        </p>
    </div>
</div>

<div class="knotfest-section">
    <img src="{% static 'appproject/assets/img/Amon_Amarth.png' %}" alt="Amon Amarth" class="knotfest-image">
    <div class="knotfest-text">
        <h3>El segundo grupo es Amon Amarth</h3>
        <p>
            Amon Amarth es una banda de death metal melódico con temática vikinga que procede de la
            ciudad de Tumba, en Suecia formada en 1992. Su nombre significa "Monte del Destino" en
            Sindarin (una de las lenguas de la Tierra Media creada por J. R. R. Tolkien). La banda 
            fue originalmente conocida como Scum, y grabó un único demo bajo este nombre en 1988 
            antes de cambiarlo a Amon Amarth en 1992.
        </p>
        <p>
            Los miembros actuales son Jocke Wallgren, Johan Hegg, Johan Söderberg, Olavi Mikkonen 
            y Ted Lundström.
        </p>
    </div>
</div>

<div class="knotfest-section">
    <img src="{% static 'appproject/assets/img/Meshuggah.png' %}" alt="Meshuggah" class="knotfest-image">
    <div class="knotfest-text">
        <h3>El tercer grupo es Meshuggah</h3>
        <p>
            Meshuggah es una banda sueca pionera en el metal progresivo, conocida por su enfoque único 
            y avanzado en la música pesada durante más de 30 años. La banda ha sido elogiada por su 
            capacidad para redefinir lo que significa ser "pesado" a lo largo de su carrera, con álbumes
            icónicos como *Destroy Erase Improve* (1995), *Catch Thirtythree* (2005) y *ObZen* (2008). En 2022,
            Meshuggah lanzó su noveno álbum, *Immutable*, que marca una nueva y ambiciosa dirección para 
            el grupo. Este álbum, grabado en gran parte en Sweetspot Studios en Suecia, es una mezcla de
            elementos melódicos y dinámicos, además de ser su trabajo más largo hasta la fecha.
        </p>
        <p>
            Los miembros actuales son Jens Kidman, Tomas Haake, Fredrik Thordendal, Mårten Hagström y Dick Lövgren.
        </p>
    </div>
</div>

<div class="knotfest-section">
    <img src="{% static 'appproject/assets/img/Babymetal.jpg' %}" alt="Babymetal" class="knotfest-image">
    <div class="knotfest-text">
        <h3>El cuarto y ultimo grupo es BABYMETAL</h3>
        <p>
            *Babymetal* es una banda japonesa de metal, conocida por mezclar elementos del metal con pop japonés. 
            Formada en 2010, la banda ha sido pionera en el subgénero conocido como "kawaii metal", donde fusionan
            el estilo visual y musical del J-pop con la intensidad del heavy metal. El grupo ha lanzado álbumes 
            icónicos como *Babymetal* (2014), *Metal Resistance* (2016) y *Metal Galaxy* (2019). Babymetal se ha 
            presentado en importantes festivales alrededor del mundo, ganando reconocimiento por sus energéticos 
            shows en vivo y su innovador enfoque en la música.
        </p>
        <p>
            Los miembros actuales son Suzuka Nakamoto, Momoko Okazaki, Yui Mizuno y Moa Kikuchi.
        </p>
    </div>
</div>




{% endblock %}
